@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
body{
    background-color: #161540;

}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #FFFFFF;
}

.nav-link:hover{
    color: blue;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #FFF6FA;
}
img {
    max-width: 100%;
 }
 .hero{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row-reverse;
     border-bottom: black;
     border-bottom-style: solid;
 }
 .miki-text{
    text-align: justify;
    font-size: 15px;
    color: #FFF6FA;
 }
 .intro-text{
     margin: 50px;
     width: 200px;
 }
 honors-title{
     display: flex;
     align-items: center;
 }
.honors-title h1{
    font-size: 60px;
    color: #FFF6FA;
}
 .honors{
     display: flex;
     flex-direction: column;
     align-items: center;
     border-bottom: black;
     border-bottom-style: solid;
     padding-bottom: 5rem;
 }
 .honors-cards{
     display: flex;
     flex-direction: column;
 }
 .honor-row1{
     display: flex;
     justify-content: center;
     gap: 10px;
     margin-top: 20px;
 }
.honor-row2{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.honors-card1{
    display: flex;
    background-image: url(Rectangle1.png);
    background-repeat: no-repeat;
    border-radius: 25px;
    width: 300px;
    height: 150px;
    justify-content: center;
}
.honors-card1 p{
    color: white;
    align-items: center;
    display: flex;
    margin-left: 50px;
    font-size: 16px;
}
.honors-card2{
    display: flex;
    background-image: url(Rectangle2.png);
    background-repeat: no-repeat;
    border-radius: 25px;
    width: 300px;
    height: 150px;
    justify-content: center;
}
.honors-card2 p{
    color: white;
    align-items: center;
    display: flex;
    margin-left: 50px;
    font-size: 16px;
}
.honors-card3{
    display: flex;
    background-image: url(Rectangle3.png);
    background-repeat: no-repeat;
    border-radius: 25px;
    width: 300px;
    height: 150px;
    justify-content: center;
}
.honors-card3 p{
    color: white;
    align-items: center;
    display: flex;
    margin-left: 50px;
    font-size: 16px;
}
.honors-card4{
    display: flex;
    background-image: url(Rectangle4.png);
    background-repeat: no-repeat;
    border-radius: 25px;
    width: 300px;
    height: 150px;
    justify-content: center;
}
.honors-card4 p{
    color: white;
    align-items: center;
    display: flex;
    margin-left: 50px;
    font-size: 16px;
}
.honors-card5{
    display: flex;
    background-image: url(Rectangle5.png);
    background-repeat: no-repeat;
    border-radius: 25px;
    width: 300px;
    height: 150px;
    justify-content: center;
}
.honors-card5 p{
    color: white;
    align-items: center;
    display: flex;
    margin-left: 50px;
    font-size: 16px;
}
.history-text p{
    padding: 3rem;
    text-align: center;
    font-size: 16px;
    color: #FFF6FA;
}
.history-film{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 30rem;
}
.filmography{
    padding-right: 1rem;
}
.history-title{
    display: flex;
    justify-content: center;
}
.history{
    border-bottom: black;
    border-bottom-style: solid;
    padding-bottom: 5rem;
}
.contact-title{
    display: flex;
    justify-content: center;
    color: #FFF6FA;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filmography-text1{
    padding:10px;
}
.filmography-text1 p{
    font-size: 16px;
    color: #FFF6FA;
}
.filmography-text2{
    padding:10px;
}
.filmography-text2 p{
    font-size: 16px;
    color: #FFF6FA;
}
.filmography-text3{
    padding:10px;
}
.filmography-text3 p{
    font-size: 16px;
    color: #FFF6FA;
}
.history-title h1{
    font-size: 60px;
    color: #FFF6FA;
 }
 .contact-title h1{
     font-size: 60px;
 }
 .company{
     font-size: 16px;
     color: #FFF6FA;
 }
 .twitter{
     font-size: 16px;
     color: #FFF6FA;
 }
 .disney{
     font-size: 16px;
     color: #FFF6FA;
 }
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-title{
        display: flex;
        justify-content: center;
    }
    .history-film{
        padding-right: 0rem;
        display: flex;
        flex-direction: column;

    }
    .history{
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
    .history-title{
        display: flex;
        justify-content: center;
    }
    .history-title h1{
       font-size: 60px;
    }
    .history-text p{
        display: flex;
        padding: 2rem;
        font-size: 13px;
    }
    .history-img{
        display: flex;
        justify-content: center;
    }
    .filmography{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 10px;
    }
    .filmography-text1{
        display: flex;
    }
    .filmography-text1 p{
        display: flex;
        font-size: 14px;
        color: #FFF6FA;
    }
    .filmography-text2{
        display: flex;
    }
    .filmography-text2 p{
        display: flex;
        font-size: 14px;
        color: #FFF6FA;
    }
    .filmography-text3{
        display: flex;
    }
    .filmography-text3 p{
        display: flex;
        font-size: 14px;
        color: #FFF6FA;
    }


    .honor-row1{
        gap: 10px;
        display:flex;
        flex-direction: column;
        justify-items: center;
    }
    .honor-row2{
        display:flex;
        flex-direction: column;
    }
    .honors-card1{
        display: flex;
        align-items: center;
    }
    .intro-text{
        margin: 0px;
        width: 100%;
    }
    .hero{
        display: flex;
        flex-direction: column;

    }
    .miki-text{
        text-align: center;
        padding: 5rem;
        font-size: 15px;
        font-weight: bold;
    }
    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        background: #FFF6FA;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}
